h1 {
    color: #e3e3e3;
}
p {
    color: #e3e3e3;
}

* {
  box-sizing: border-box;
  background-color: #c9c9c9;
}

.container{
  display:grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header" "sidebar main";
}


.topbar{
  grid-area: header;
  text-align: center;
  justify-self: center;
  text-decoration: none;
  width:100%;
}

.main-page{
  grid-area: main;
  width:100%;
  padding:1px;
  height: 800px;
  text-align: center;
  align-self: start;
}

.sidebar{
  grid-area: sidebar;
  padding:0px;
  overflow:auto;
}
.sidebar-btn{
  width:100%;
  margin:0px;
  padding:8px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  display: inline-block;
  font-size: medium;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.5s;
  color: #e3e3e3;
  background-color: transparent;
}

.sidebar-btn:not(:last-child){
  border-bottom:none;
}

.sidebar-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sidebar-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sidebar-btn:hover span {
  padding-right: 25px;
}

.sidebar-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.sidebar-btn:active span{
  background-color: #9ad3de;
}
.sidebar-btn:active {
  background-color: #9ad3de;
}
