h1 {
    color: #17252A;
    margin-bottom: 2px;
}

h2 {
    color: #17252A;
}

p {
    color: #FEFFFF;
}

* {
  box-sizing: border-box;
  background-color: #3AAFA9;
}

.container{
  display:grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header" "sidebar main";
}

.topbar{
  grid-area: header;
  text-align: center;
  justify-self: center;
  text-decoration: none;
  width:100%;
}

.main-page{
  grid-area: main;
  width:100%;
  padding:1px;
  height: 800px;
  text-align: center;
  align-self: start;
}

.sidebar{
  grid-area: sidebar;
  padding:0px;
  overflow:auto;
}

.sidebar-btn{
  width:100%;
  margin:0px;
  padding:8px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  display: inline-block;
  font-size: medium;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.5s;
  color: #DEF2F1;
  background-color: transparent;
}

.sidebar-section{
  width:100%;
  margin:0px;
  padding:8px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  display: inline-block;
  font-size: medium;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.5s;
  color: #DEF2F1;
  background-color: #2B7A78;
}

.sidebar-btn:not(:last-child){
  border-bottom:none;
}

.sidebar-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sidebar-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sidebar-btn:hover span {
  padding-right: 25px;
}

.sidebar-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.sidebar-btn:active span{
  background-color: #17252A;
}
.sidebar-btn:active {
  background-color: #17252A;
}

.about-me-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 300px 80px 200px 80px 420px;
  grid-template-areas:
    "header header"
    "edu edu"
    "edu-main edu-dates"
    "exp exp"
    "exp-main exp-dates";
}

@media only screen and (min-width:768px){
  .about-me-container{
    display: grid;
    grid-template-columns: 400px 200px;
    grid-template-rows: 300px 50px 100px 50px 200px;
    grid-template-areas:
      "header header"
      "edu edu"
      "edu-main edu-dates"
      "exp exp"
      "exp-main exp-dates";
  }
}

.edu{
  grid-area: edu;
  text-align: left;
  justify-self: center;
  text-decoration: none;
  width:100%;
  margin-top: 1em;
}

.exp{
  grid-area: exp;
  text-align: left;
  justify-self: center;
  text-decoration: none;
  width:100%;
  margin-top: 1em;
}

.about-me-edu-left{
  grid-area: edu-main;
  margin-top: 1em;
}

.about-me-edu-right{
  grid-area: edu-dates;
  margin-top: 1em;
}

.about-me-exp-left{
  grid-area: exp-main;
  margin-top: 1em;
}

.about-me-exp-right{
  grid-area: exp-dates;
  margin-top: 1em;
}
